@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* ----- MISC ----- */
h1 {
    font-weight: 500;
}

/* ----- TOGGLE SWITCH ----- */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 1.5em;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: " ";
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
    background-color: #fff;
    border-radius: 1.1em;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #036ffc;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
}

/* ----- LAYOUT ----- */
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    height: 100%;
}

main {
    height: 100%;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    z-index: 1;
}

#logo {
    position: fixed;
    top: 1em;
    left: 1em;
    width: 2.5em;
    height: 2.5em;
}

/* ----- TIMER ----- */
#timer-pane {
    display: flex;
    height: calc(100% - 3.5em);
}

#timer-outer {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#timer, 
#inspect-warning {
    font-family: sans-serif;
    font-variant-numeric: tabular-nums;
    text-align: center;
}

#timer {
    font-weight: 200;
    font-size: 6em;
    transition: color 0.1s;
    margin: 0.5em 0;
}

#inspect-warning {
    font-size: 3em;
}


#timer.not-ready {
    color: #ff0000;
}

#timer.ready {
    color: #00ff00;
}

#scramble {
    font-size: 20pt;
    text-align: center;
}

.fade-during-solve {
    transition: opacity 0.1s;
}

.active .fade-during-solve {
    opacity: 0;
}

#session-selector {
    position: fixed;
    top: 1em;
    right: 1em;
}

#session-selector select {
    width: 10em;
    height: 2em;
}

#session-selector button {
    width: 2em;
    height: 2em;
}

/* ----- SETTINGS ----- */
#settings-pane {
    padding: 1em 2em;
}

.settings-group {
    max-width: 40em;
    table-layout: fixed;
}

.settings-group td {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.settings-group tr:last-child td {
    border-bottom: none;
}

.settings-group td {
    vertical-align: top;
    width: 50%;
}

.settings-group td p {
    color: #858585;
}

.settings-group td:last-child {
    text-align: right;
}

/* ----- ABOUT ----- */
#info-pane {
    padding: 1em 2em;
    max-width: 40em;
}

#about-img {
    width: 1em;
    position: relative;
    top: 3px;
}

/* ----- NAVIGATION ----- */
nav button.material-symbols-outlined {
    border: none;
    background: none;
    color: #aaaaaa;
    font-size: 2.5em;
    cursor: pointer;
    transition: color 0.1s;
    padding: 0 0.1em;
    outline: none;
}

nav button:hover {
    color: #444444;
}

nav button.current {
    color: #0099ff;
}

#nav-settings {
    margin-left: auto;
}